################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RefService/obj/Debug/RefServices.csproj.CoreCompileInputs.cache
/RefServiceHostInISS/obj/Debug/RefServiceHostInISS.csproj.CoreCompileInputs.cache
