<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!--When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries.-->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="defaultBahavior" name="RefServices.RefService">

        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="clientCredeialCertificate"
                  contract="IRefService" />

        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/RefService" />
            <add baseAddress="https://localhost:8001/RefService" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="clientCredeialNone">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>

        <binding name="clientCredeialBasic">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>

        <binding name="clientCredeialWindows">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>

        <binding name="clientCredeialCertificate">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>

    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultBahavior">
          <!--To avoid disclosing metadata information, 
          set the values below to false before deployment-->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!--To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information-->
          <serviceDebug includeExceptionDetailInFaults="False" />

          <serviceCredentials>
            <serviceCertificate findValue="‎‎c0383c5af17870fb1ed6205c13b28dc61877b7d1" 
                                storeLocation="LocalMachine" storeName="My" 
                                x509FindType="FindByThumbprint"/>
            <clientCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
